@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* CSS Reset */

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

aside {
    height: 100vh;
    width: clamp(400px, 40vw, 40vw);
}

figure {
    height: inherit;
    width: inherit;
}

img {
    height: 100%;
    width: 100%;
}