@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

figure {
    height: 100vh;
    width: 33vw;
}

img {
    height: 100%;
    width: 100%;
}